a { color: darkred; text-decoration: none; }
a:hover{ color: gray; }

h1{
	color: red;
}

BODY BLOCKQUOTE {
	margin-top: .75em;
	line-height: 1.5;
	margin-bottom: .75em;
}

HTML BODY {
	margin: 1em 8% 1em 10%;
	line-height: 1.2;
	width: 750px;
	text-align: justify;
	font-size: 12px;
	font-family: Arial;
}
td{
	padding-right:.5em;
}
table{
	padding: 1em;
	background: #FFF5F5;
	display: block;
	border: solid 1px #e1e1e1;
	text-align: center;
	margin: auto;
/*	color: #FFCC99;*/
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
	display: block;
	border: solid 1px #e1e1e1;
	color: darkgrey;
	background: #faf8f0;
	padding: 1em;
}       

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: #808066;
}
